<div class="container">
    <div class="view">
        <div class="table-wrapper">
            <table class="series-table">
                <thead class="table-headers">
                    <th class="scroll-hide">Series</th>
                </thead>
                <tbody>
                    <tr><td class="preparation scroll-hide"> Preparation </td></tr>
                    <tr><td class="floor-coatings scroll-hide"> Floor Coatings </td></tr>
                    <tr><td class="top-coats scroll-hide"> Top Coats </td></tr>
                </tbody>
            </table>
            <table class="content-table">
            <thead>
                    <tr class="table-headers">
                        <th class="sticky-col"> Product </th>
                        <th> Mix Ratio </th>
                        <th> Shore D <br>Hardness </th>
                        <th> Color </th>
                        <th> Mixed Viscosity<br> (cps) </th>
                        <th> Coverage </th>
                        <th> Work Time </th>
                        <th> Recoat Time </th>
                        <th> Dry Time </th>
                        <th> Light Foot<br> Traffic </th>
                        <th> Light Vehicle<br> Traffic </th>
                        <th> Full Cure </th>
                        <th> VOCs </th>
                        <th> Tensile<br> Strength </th>
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <td class="sticky-col">
                            <a href="/products/concrete-epoxy-floor-patch-paste?showHidden=true">
                                Concrete Epoxy Floor Patch Paste
                            </a>
                        </td>
                        <td> 1:1 </td>
                        <td> 45D </td>
                        <td> Gray </td>
                        <td> 7,500-10,000 </td>
                        <td> N/A </td>
                        <td> 35 min </td>
                        <td> 4-8 hours </td>
                        <td> 4-8 hours </td>
                        <td> 24 hours </td>
                        <td> 48 hours </td>
                        <td> 3-7 days </td>
                        <td> 0 g/l </td>
                        <td> 1,490 psi </td>
                    </tr>
                    <tr>
                        <td class="sticky-col">
                            <a href="/products/moisture-sealing-epoxy-primer?showHidden=true">
                                Moisture Sealing Epoxy Primer
                            </a>
                        </td>
                        <td> 2:1 </td>
                        <td> 80D </td>
                        <td> Amber </td>
                        <td> 1,150 </td>
                        <td> 125-160 sq ft/gal (10-12 Mil) </td>
                        <td> 30 min </td>
                        <td> within 24 hours </td>
                        <td> 6-7 hours </td>
                        <td> 24 hours </td>
                        <td> 72 hours </td>
                        <td> 3-7 days </td>
                        <td> 0 g/l </td> 
                        <td> N/A </td>
                    </tr>
                    <!-- <tr class="table-desc">
                        <td colspan="13">
                            DESCRIPTION: Moisture sealing primer that penetrates deep into concrete and provides ultimate moisture barrier and phenominal adhesion.
                        </td>
                    </tr> -->
                    
                    <!--<tr>-->
                    <!--    <td class="sticky-col">-->
                    <!--        <a href="/products/concrete-crack-fill-thick-1?showHidden=true">-->
                    <!--            Concrete Crack Fill - Thick-->
                    <!--        </a>-->
                    <!--    </td>-->
                    <!--    <td> 2:1 </td>-->
                    <!--    <td> 82D </td>-->
                    <!--    <td> Cream </td>-->
                    <!--    <td> Gel </td>-->
                    <!--    <td> N/A </td>-->
                    <!--    <td> 10 min </td>-->
                    <!--    <td> 25-30 min </td>-->
                    <!--    <td> 25-30 min </td>-->
                    <!--    <td> after 24 hours </td>-->
                    <!--    <td> after 72 hours </td>-->
                    <!--    <td> 7 days </td>-->
                    <!--    <td> 0 g/l </td>-->
                    <!--    <td> 8,500 psi </td>-->
                    <!--</tr>-->
                    <!-- <tr class="table-desc">
                        <td colspan="13">
                            DESCRIPTION: Thick crack fill material to patch holes, large divots, and cracks of all sizes. Super easy caulk gun application, cures in 30 minutes. 
                        </td>
                    </tr> -->

                    <!--<tr>-->
                    <!--    <td class="sticky-col">-->
                    <!--        <a href="/products/concrete-crack-fill-thin?showHidden=true">-->
                    <!--            Concrete Crack Fill - Thin-->
                    <!--        </a>-->
                    <!--    </td>-->
                    <!--    <td> 2:1 </td>-->
                    <!--    <td> 85D </td>-->
                    <!--    <td> Translucent </td>-->
                    <!--    <td> 1,100 </td>-->
                    <!--    <td> N/A </td>-->
                    <!--    <td> 10 min </td>-->
                    <!--    <td> 2 hours </td>-->
                    <!--    <td> 2 hours </td>-->
                    <!--    <td> 2 days </td>-->
                    <!--    <td> 2 days </td>-->
                    <!--    <td> 2 days </td>-->
                    <!--    <td> 0 g/l </td>-->
                    <!--    <td> 9,500 psi </td>-->
                    <!--</tr>-->
                    <!-- <tr class="table-desc">
                        <td colspan="13">
                            DESCRIPTION: Thin crack fill material that penetrates deep into small hairline cracks and hard-to-reach places, providing the ultimate crack seal protection. 
                        </td>
                    </tr> -->


                   
                    <!-- <tr class="table-desc">
                        <td colspan="13">
                            DESCRIPTION: Easy to use hand-mix paste that allows users to quickly and easily fill cracks, divots, and gouges of every size. 
                        </td>
                    </tr> -->


                    <tr>
                        <td class="sticky-col">
                            <a href="/products/premium-floor-coating-epoxy-colored?showHidden=true">
                                Premium Floor Coating Epoxy - Colored
                            </a>
                        </td>
                        <td> 2:1 </td>
                        <td> 81D </td>
                        <td> Gray </td>
                        <td> 2,400 </td>
                        <td> 130-170 sq ft/gal (6-8 Mil) </td>
                        <td> 40 min </td>
                        <td> within 24 hours </td>
                        <td> 10-11 hours </td>
                        <td> 24 hours </td>
                        <td> 72 hours </td>
                        <td> 3-7 days </td>
                        <td> 0 g/l </td>
                        <td> 7,250 psi </td>
                    </tr>
                    <!-- <tr class="table-desc">
                        <td colspan="13">
                            DESCRIPTION: Ultimate epoxy floor coating material for ease of use and durability pre-colored in your choice of white, gray, and tan.
                        </td>
                    </tr> -->


                    <tr>
                        <td class="sticky-col">
                            <a href="/products/premium-floor-coating-epoxy-clear?showHidden=true">
                                Premium Floor Coating Epoxy - Clear
                            </a>
                        </td>
                        <td> 2:1 </td>
                        <td> 81D </td>
                        <td> Clear </td>
                        <td> 2,400 </td>
                        <td> 60-80 sq ft/gal (12-16 Mil) </td>
                        <td> 70 min </td>
                        <td> 12-24 hours </td>
                        <td> 12 hours </td>
                        <td> 24 hours </td>
                        <td> 72 hours </td>
                        <td> 3-7 days </td>
                        <td> 0 g/l </td>
                        <td> 7,250 psi </td>
                    </tr>
                    <!-- <tr class="table-desc">
                        <td colspan="13">
                            DESCRIPTION: Ultimate clear epoxy floor coating material for custom colors compatible with dyes, pigments, metallic powders, and more. 
                        </td>
                    </tr> -->


                    <tr>
                        <td class="sticky-col">
                            <a href="/products/polyaspartic-extreme-durability-fast?showHidden=true">
                                Polyaspartic Extreme Durability - Fast
                            </a>
                        </td>
                        <td> 1:1 </td>
                        <td> 82D </td>
                        <td> Translucent </td>
                        <td> 350-400 </td>
                        <td> 200-300 sq ft/gal </td>
                        <td> 30 min </td>
                        <td> 4-24 hours </td>
                        <td> 1.5-3 hours </td>
                        <td> 24 hours </td>
                        <td> 48 hours </td>
                        <td> 3-7 days </td>
                        <td> &#60;5 g/l </td>
                        <td> 3,980 psi </td>
                    </tr>
                    <!-- <tr class="table-desc">
                        <td colspan="13">
                            DESCRIPTION: Extremely durable and fast polyaspartic, great for small projects or contractors that desire faster tack-free and recoat times, and a higher build in one coat. 
                        </td>
                    </tr> -->


                    <tr>
                        <td class="sticky-col">
                            <a href="/products/polyaspartic-extreme-durability-slow?showHidden=true">
                                Polyaspartic Extreme Durability - Slow
                            </a>
                        </td>
                        <td> 1:1 </td>
                        <td> 82D </td>
                        <td> Translucent </td>
                        <td> 350-400 </td>
                        <td> 175-300 sq ft/gal </td>
                        <td> 40 min </td>
                        <td> 6-24 hours </td>
                        <td> 3-4 hours </td>
                        <td> 24 hours </td>
                        <td> 72 hours </td>
                        <td> 3-7 days </td>
                        <td> &#60;5 g/l </td>
                        <td> 3,980 psi </td>
                    </tr>
                    <!-- <tr class="table-desc">
                        <td colspan="13">
                            DESCRIPTION: Extreme durability polyaspartic, perfect for big projects and mass areas where an extended open time is needed.
                        </td>
                    </tr> -->


                    <tr>
                        <td class="sticky-col">
                            <a href="/products/ultimate-top-coat-flooring?showHidden=true">
                                Ultimate Top Coat Flooring
                            </a>
                        </td>
                        <td> 2:1 </td>
                        <td> N/A </td>
                        <td> Clear </td>
                        <td> 800 </td>
                        <td> 530-800 sq ft/gal (Single Layer) </td>
                        <td> 60 min </td>
                        <td> 6-12 hours </td>
                        <td> 4-6 hours </td>
                        <td> 18 hours </td>
                        <td> 72 hours </td>
                        <td> 3-7 days </td>
                        <td> &#60;50 g/l </td>
                        <td> 3,980 psi </td>
                    </tr>
                    <!-- <tr class="table-desc">
                        <td colspan="13">
                            DESCRIPTION: Best scratch, chemical, and heat-resistant coating. The Ultimate in wearability and protection. 
                        </td>
                    </tr> -->


                </tbody>
            </table>

            <script>
                var stickyCol = document.querySelectorAll('.sticky-col');
                var table = document.querySelector('.table-wrapper');

                table.addEventListener('scroll', function () {
                    if (table.scrollLeft > 110) {
                        for (var i = 0; i < stickyCol.length; i++) {
                            stickyCol[i].classList.add('fixed-scroll');
                        }
                    } else {
                        for (var i = 0; i < stickyCol.length; i++) {
                            stickyCol[i].classList.remove('fixed-scroll');
                        }
                    }
                });
            </script>
        </div>
    </div>
</div>
