.cart-total .form-select {
	padding: 0.25rem 0.25rem;
}
// turn off coupons
#coupon-code-box {
    display: none;
}

.fastCart .previewCartCheckout{
    @media only screen and (min-width: 800px) {
        flex-direction: column;

        div {
            width: 100%;
        }
    }
    @media only screen and (max-width: 630px) {
        flex-direction: column;

        div {
            width: 100%;
        }
    }
}
