.solutions-tier-one {
  .hero {
    background-color: $black;
    height:300px;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    .container {
      align-self: center;
    }
    h1,
    h2 {
      color: $white;
      text-transform: capitalize;
      line-height: 1.2;
    }
    h2 {
      font-size: 1.25em;
    }
  }
  h3 {
    text-align: justify;
  }
  .materials {
    .material {
      padding: 15px;
    }
    .material:nth-child(odd) {
      background-color: $grey;
    }
    h3 {
      text-align: left;
      padding: 0 10px;
    }
  }
}
